body {
    margin-top:     2em;
    font-family:    "Helvetica Neue", sans-serif;
}
.card {
    max-width:  40em;
    margin:     1em auto 4em auto;
    padding:    2em;
    box-shadow: 0 4px  8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 13px 13px 15px  darkgray;
}

th {
    background-color: darkblue;
    color: white;
    height: 1.5em;
    text-align: left;
    padding-left: 0.5em;
    white-space: nowrap;
}
tr th:first-child{
    border-radius: 15px 0 0 0;
}
tr th:last-child {
    border-radius: 0 15px 0 0;
    width: 30px;
}

/*thanks to https://codepen.io/alexerlandsson/pen/mPWgpO*/
tr:hover { background-color: rgba(0,0,0,0.1);   }
tr.selected td    { background-color: papayawhip;     }
tr td { padding-left: 0.5em;}
tr td:first-child { border-left: 1px solid darkblue;  }
tr td:last-child  { border-right: 1px solid darkblue; }

table tr:last-child {
    border-bottom: 1px solid darkblue;
}

h1 {
    text-align: center;
}
.holder {
    margin: 0 3em 0 3em;
}
input[type=text] {
    font-size:      1.1em;
    color:          darkblue;
    border-width:   0 0 1px 0;
    width:          95%;
    background-color: transparent;
}
input[type=text]:focus {
    border-color:   orange;
    outline:        transparent none 0;
}
.detail-form {
    display:        grid;
    grid-column-gap: 0.5em;
    grid-template-columns: 1fr 3fr;
    margin-bottom:  0.5em ;
}
#plus {
    position: relative;
    top: -1em;
}
.delete {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 1.3em;
}
input.invalid {
    color: red;
}